{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Recent Jobs for autobuild fork {{ session['fork'] }}{% endblock %}</h3>
{% endblock %}

{% block content %}
  {% for run in runs %}
    <article class="post">
      <header>
        <div>
          <h3><a href="{{ run.html_url }}">{{ run.name }} - {{ run.event }}</a></h3>
          <h4>{{ run.status }}{% if run.status == 'completed' %} - {{ run.conclusion }}{% endif %}</h4>
          <div class="about">by {{ run.actor.login }} on {{ run.created_at }} (last updated {{ run.updated_at }})</div>
        </div>
        {% if run.status in ('queued', 'pending', 'in_progress') and ACL.is_granted(g.principal, AccessRights.CANCEL_RUN) %}
          <form action="{{ url_for('cancel') }}" method="POST">
            <input type="hidden" id="id" name="id" value="{{ run.id }}">
            <input class="danger" type="submit" value="Cancel" onclick="return confirm('Are you sure?');">
          </form>
        {% endif %}
      </header>
      {# <p class="body">{{ post['body'] }}</p> #}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% endblock %}
