{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recent jobs{% endblock %}</h1>
  {% if ACL.is_granted(g.principal, AccessRights.TRIGGER_RUN) %}
    <h3 style="flex-direction: column; margin-right: 1rem"><a class="action" href="{{ url_for('trigger') }}">Trigger run</a></h3>
  {% endif %}
  {% if ACL.is_granted(g.principal, AccessRights.CLEAR_FAILURES) %}
  <h3 style="flex-direction: column; margin-right: 1rem"><a class="action" href="{{ url_for('maint') }}">Maintenance</a></h3>
  {% endif %}
  <form method="POST">
    For autobuild fork
    <select name="fork" id="fork" onchange="this.form.submit()">
      {% for fork in config['AUTOBUILD_FORKS']|sort %}
        <option value="{{ fork }}"{{ " selected" if fork == session['fork'] else "" }}>{{ fork }}</option>
      {% endfor %}
    </select>
  </form>
{% endblock %}

{% block content %}
  {% for run in runs %}
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ run.html_url }}">{{ run.name }} - {{ run.event }}</a></h1>
          <h2>{{ run.status }}{% if run.status == 'completed' %} - {{ run.conclusion }}{% endif %}</h2>
          <div class="about">by {{ run.actor.login }} on {{ run.created_at }} (last updated {{ run.updated_at }})</div>
        </div>
        {% if run.status in ('queued', 'pending', 'in_progress') and ACL.is_granted(g.principal, AccessRights.CANCEL_RUN) %}
          <form action="{{ url_for('cancel') }}" method="POST">
            <input type="hidden" id="id" name="id" value="{{ run.id }}">
            <input class="danger" type="submit" value="Cancel" onclick="return confirm('Are you sure?');">
          </form>
        {% endif %}
      </header>
      {# <p class="body">{{ post['body'] }}</p> #}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% endblock %}
