{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Trigger run for autobuild fork {{ session['fork'] }}{% endblock %}</h3>
{% endblock %}

{% block content %}
<form action="{{ url_for('workflow_dispatch') }}" method="POST">
  {% if ACL.is_granted(g.principal, AccessRights.BREAK_CYCLES) %}
    <label for="optional_deps">optional_deps=pkg-A:optional-dep-B,pkg-C:optional-dep-D</label>
    <input name="optional_deps" id="optional_deps">
  {% endif %}
  <input type="submit" value="Trigger">
</form>
{% endblock %}
