{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recent jobs{% endblock %}</h1>
  <form method="POST">
    For autobuild fork
    <select name="fork" id="fork" onchange="this.form.submit()">
      {% for fork in config['AUTOBUILD_FORKS']|sort %}
        <option value="{{ fork }}"{{ " selected" if fork == session['fork'] else "" }}>{{ fork }}</option>
      {% endfor %}
    </select>
  </form>
{% endblock %}

{% block content %}
  {% for run in runs.get_page(0) %}
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ run.html_url }}">{{ run._rawData['name'] }} - {{ run.event }}</a></h1>
          <h2>{{ run.status }}{% if run.status == 'completed' %} - {{ run.conclusion }}{% endif %}</h2>
          <div class="about">by {{ run._rawData['actor']['login'] }} on {{ run.created_at }} (last updated {{ run.updated_at }})</div>
        </div>
        {% if run.status in ('queued', 'pending', 'in_progress') and config['ACL'].check(g.principal, AccessRights.CANCEL_RUN) == AccessRights.CANCEL_RUN %}
          <a class="action" href="{{ url_for('cancel', id=run.id) }}">Cancel</a>
        {% endif %}
      </header>
      {# <p class="body">{{ post['body'] }}</p> #}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% endblock %}
